<nav class="navbar navbar-light bg-lignt  sticky-top navbar-expand-lg  ">
    <div class="container-fluid">
      <a class="navbar-brand " href="/">THE BORING COLLEGE</a>
      <button class="navbar-toggler" type="button" style="color: black;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item  mr-5 ml-10">
            <!--<a class="nav-link active" aria-current="page" href="/">Home</a>-->
          </li>
          <li class="nav-item mr-5">
            <!--<a class="nav-link" href="/notes">Notes</a>-->
          </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="/announcements">Announcements</a>-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/students">Students</a>
          </li>
        </ul>
        
        
          <a class="button is-rounded" href="/loginsuccess">MY PROFILE</a>
          
          <a class="button is-rounded" href="/login">LOGIN</a>
      
      </div>
    </div>
  </nav>
