<%- include('partials/head1.ejs') %>
<link rel="stylesheet" href="/css/loginfailed.css">
<%- include('partials/head2.ejs') %>
<%- include('partials/navbar.ejs') %> 

<h1 style="text-align: center;margin-bottom:4rem">Please Login By Nsut Email</h1>

<a href="/google" class="main">
    <div class="google">
        <div class="wrap button is-rounded">
        <img src="/background/google.png" alt="google-image">
        <h2>Continue with Google</h2>
        </div>
    </div>
</a>
 
<%- include('partials/footer.ejs') %> 