<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<h1>PLEASE LOGIN BY NSUT EMAIL</h1>
<a href="/google" class="btn btn-danger">Google</a>

<%- include('partials/footer.ejs') %> 