<%- include('partials/head.ejs') %> 
<%- include('partials/navbar.ejs') %> 

<form action="/students/<%= id %> " method="POST">
<label for="name">Name : </label>
<input type="text" id="name" name="name" placeholder="name">
<label for="year">Year : </label>
<input type="text" id="year" name="year" placeholder="year">
<label for="branch">Branch : </label>
<input type="text" id="branch" name="branch" placeholder="branch">
<label for="section" id="section" placeholder="section">Section : </label>
<input type="text" id="section" name="section" placeholder="section">
<label for="email" id="email" placeholder="email">Email : </label>
<input type="text" id="email" name="email" placeholder="email">
<label for="description" id="description" placeholder="description">Description : </label>
<input type="text" id="description" name="description" placeholder="description">
<button>SAVE</button>
</form>

<%- include('partials/footer.ejs') %> 