body{
    height: 100vh;
    background-image:url("/background/white.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    font-family: 'Merriweather', serif;
    background-attachment: fixed;
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  .container-fluid{
      width: 100%;
   
   margin-bottom: 0.5rem;
   font-family: 'Merriweather', serif;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items:center;
  }
  .navbarContent{
      font-family: 'Merriweather', serif;
  }
  .logo{
     height:5rem;
     width:10rem;
  }
  .logoimage{
      width:100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
  }


.button{
    margin-left:2rem;
    background-color: transparent;
    border:none;

}
.button:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}
.pagecontainer{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.notescontainer{
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
h1{
    color:black;
}
li{
    color:black;
}
a{
    text-decoration: none;
    color: black;
   
}

.center{
    text-align: center;
}
label{
    text-align: center;
    color: black;
}
#notesform{
    display:flex;
    flex-direction: row;
}

.bottom-left{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(230, 233, 233, 0.664);
    color: black;
    text-align: center;
}
#chatWindow{
    
}
.firstuser{
    color:white;
    background-color: rgb(0, 102, 255);
    width:fit-content;
    float: right;
    clear: both;
    text-align: center;
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
}
.seconduser{
    color:black;
    width: fit-content;
    float: left;
    clear: both;
    display: block;
    margin-bottom: 1px;
    margin-top: 1px;
    text-align: center;
}
.label{
    display: block;
}
.input{
    display: block;
}
